.home-template-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 7rem 0px 1fr 2.5rem;
  background-color: #f1f1f1;
  overflow: hidden;

  .home-navbar {
    grid-row: 1/2;
  }

  .home-grid {
    grid-row: 2/3;
  }

  .home-footer {
    grid-row: 4/5;
  }
}
