<div class="tradeblotter-navbar-main">
  <div class="banner">
    <div class="banner_logo">
      <img src="../../../../assets/images/voya logo.png" alt="voyo-logo" />
    </div>
    <div class="banner_text">
      <h2>FITB</h2>
    </div>
  </div>

  <div class="tradeblotter-navbar">
    <nav>
      <ul class="navbar-group">
        <li class="navbar-item">CIO</li>
        <li class="navbar-item">PM</li>
        <li class="navbar-item navbar-sb">
          Security
          <p>0</p>
        </li>
        <li class="navbar-item navbar-sb">
          Swaps
          <p>0</p>
        </li>
        <li class="navbar-item navbar-sb">
          Futures
          <p>0</p>
        </li>
        <li class="navbar-item navbar-sb">
          Fx Forward
          <p>0</p>
        </li>
        <li class="navbar-item navbar-sb">
          Cap Floor
          <p>0</p>
        </li>
        <li class="navbar-item navbar-sb">
          Equity Option
          <p>0</p>
        </li>
        <li class="navbar-item">
          Credit Default
          <p>0</p>
        </li>
        <li class="navbar-item navbar-sb">EC Dashboard</li>
        <li class="navbar-item">
          ADMIN <span class="material-symbols-outlined"> arrow_drop_down </span>
          <div class="dropdown-list">
            <p>Reviewers</p>
          </div>
        </li>
        <li class="navbar-item navbar-sb">GA Dashboard</li>
        <li class="navbar-item">
          ADMIN <span class="material-symbols-outlined"> arrow_drop_down </span>
          <div class="dropdown-list">
            <p>Reviewers</p>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
